body {
  font-style: arial;
  background-color: black;
}
#mainBody {
  padding: 2% 5% 2% 5%;
  margin: 0 auto;
  display: table;
  position: fixed;
}

#count {
  padding: 2% 2% 2% 2%;
  color: white;
  font-style: arial;
  margin: 0 auto;
  display: table;
}

button {
  background: pink;
  width: 25%;
  margin: auto;
  font-size: 100%;
}
