* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #BBB;
}

header {
  background-color: black;
  color: white;
  margin-bottom: -5px;
}
#maincontain {
  background-color: #23465f;
  padding-top: 5px;
  padding-bottom: 2%;
}
body {
  background-color: black;
}

footer {
   background-color: black;
   color: white;
   padding: 5px 5px 5px 5px;
}

#maindiv {
  background-color: white;
  margin: 10px 0px;
}

#seemore {
  float: right;
  padding: 0 1% 1% 1%;
  margin: 0px 2px;
}

.styled.h4 {
  margin-left: 20px;
  margin-top: 6px;
  font-family: 'HelveticaNeueW01-75Bold','HelveticaNeue Bold','Helvetica LT Std Bold',Helvetica;
  color: white
  font-weight: normal;
  font-style: normal;
  color: white;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 21px;
  height: 21px;
  margin-bottom: 10px;;
  background: black;
  text-align: left;
  display: inline-block;
  padding: 1px 2px;
  letter-spacing: normal;
}

a.hover
